// IMPORT
@import "../styles/mixins.scss";
@import "../styles/vars.scss";
// BANNER STYLE 
/* SECTION */
section{
    background-color: $brandColor;

    /* CONTAINER */
    .container{
        @include center();
        div{
            a{
                /* CARDS */
                @include center("vertical");
                padding: 70px 15px;
                text-decoration: none;
                transition: transform .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            img{
                height: 60px;
                margin-right: 10px;
            }
            &:last-child img{
                height: auto;
                width: 60px;
            }
            span{
            font-size: 1rem;
            text-transform: uppercase;
            color: #fff;
            }
        }
    }
}