// IMPORT
@import "../styles/mixins.scss";
@import "../styles/vars.scss";
// HEADER STYLE
header{
    background-color: #fff;

    .container{
        @include center("spacebetween")
    }

    /* LOGO */
    .logo{
        @include center("vertical");

        img{
            width: 80px;
        }
    }

    /* NAVBAR */
    ul{ 
        display: flex;
        list-style: none;

        li{
        border-bottom: 5px solid transparent;
        padding: 50px 0;
        transition: border-bottom .3s;
            &:hover{
            border-bottom: 5px solid $brandColor;
            }
            a{ 
            padding: 15px;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: bold;
            }
        }
    }
}